.navbar {
  height: auto;
  width: 100vw;
  background: #333; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #1f373d,
    #5f798e
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #1f373d,
    #5f798e
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: flex;
  flex-direction: row;
  position: fixed;
  justify-content: space-between;
  top: 0px;
  align-items: center;
  z-index: 99;
  border-bottom: 8px solid #ff416c;
  padding: 0 20px;
}

.subContainerCenter {
  /* background-color: aqua; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.items {
  display: flex;
  height: 100%;
  width: auto;
  align-items: center;
  margin-left: 4px;
}

.items a {
  background-color: #5f798e;
  border-radius: 20px;
  padding: 3px 8px;
  margin-right: 11px;
}
.items a:hover {
  color: #333;
  background-color: #fff;
  font-weight: 500;
}

.subContainerRight div {
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center ;
  gap: 10px;
}
