.bodyPlanes {
    background: #FF416C;
    background: -webkit-linear-gradient(to right, #FF416C 0%, #ff765e 100%);
    background: linear-gradient(0deg, #FF416C 0%, #ff765e 100%);
    position: absolute;
    width: 100%;
    height: 100vh;
    padding-top: 120px;
}

.subWrapper {
    display:flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    width: 45%;
}