
.contenedor{
  position: relative;
  background-color: rgba(15, 129, 178, 0.434);
  border-radius: 5px;  
  width: 15%;
  height: 100px;
  margin-top: 20px;
}

.datos{
    margin-top: 15px;
    margin-left: 10px;
    color: aliceblue;
}

.data{
    margin-top: 20px;
    margin-left: 10px;
    color: aliceblue;
}
