.createProperty {
  padding: 140px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contenedor{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    /* background: #BA5370;  
    background: -webkit-linear-gradient(to right, #FF416C 0%, #ff765e 100%); 
    background: linear-gradient(0deg, #FF416C 0%, #ff765e 100%); */
}

.formLogin{
  border-radius: 20px;
  height: 20%;
  width: 35%;  
  background-color: #fff;
  background-size: cover;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 18px;
  margin: 60px auto;
}

.subContainerCreate {
  display: grid;
  grid-template-columns: 35% 65%;
  transition: width 2s;
}

.googleAutenticatorWrapper p {
    margin: 10px 0 10px 35px;
}

.title{
  display: flex ;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  font-size: 24px;
  font-weight: 600;
}
.email, .pass{
  width: 150%;  
}
.buttonIngresar {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 15px;
}
.errorSpan{
  color: red;
}
.Olvido{
  margin-top: 10px;
  height: 40px;
}
.btnGoogle{
  margin-left: 100px;
}