.mainContainer {
    /* background-color: aqua; */
    /* PROBAR PONER OFNDE EN CARDS */
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center ;
}

.contenedorFav{   
    position: relative;
    background-color: rgb(243, 247, 248);
    border-radius: 20px;
    top: 120px;
    margin: 10px auto 10px auto;
    width: 45%;
    padding-right: 40px;
    height: 250px;
    /* margin-top: 100px; */
    /* align-items: flex-start; 
    display: flex; 
    flex-direction: column; */      
    border: 6px solid #efefef;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.159);  
    display: flex; /*con display, justify-content, aling-items -> dejo centrados los filtros*/
    justify-content: space-between;
    align-items:center;
}

.divFotos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    margin: 2px;
    width: 300px;
    height: 237px;
    object-fit: cover;
    border-radius: 15px;

}
.divCaracteristicas{
    /* background-color: aqua; */
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    width: 35%;
}
.divBotones{
    /* background-color: aquamarine; */
    align-items: flex-start; 
    display: flex; 
    flex-direction: column;
    width: 200px;  
    height: 200px;
    /* margin-left: 50px; */
}

.typo, .direcc, .areaRoomBath{
    margin-top: 40px;    
}

.botonConetar{
    width: 200px;
    margin-top: 0px;
    margin-bottom: 40px;
}
.botonDet{
    width: 200px;
    margin-top: 15px;
    margin-bottom: 40px;
}
.botonQuitar{
    width: 200px;
    margin-top: 15px;
}