.contenedorFav{   
    position: relative;
    background-color: #fff;
    border-radius: 20px;
    margin: 14px auto;
    width: 65%;
    height: 300px;
    margin-top: 100px;
    /* align-items: flex-start; 
    display: flex; 
    flex-direction: column; */      
    border: 1px solid #efefef;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.159);  
    display: flex; 
    justify-content: flex;
    align-items:flex-start;
}
.divFotos{
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 80px;
    margin-bottom: 40px;
    width: 400px;
    height: 300px;
}
.foto{
    width: 380px;
    height: 280px;
    margin-top: 10px;      
    margin-left: 10px;
    border-radius: 20px;
}
.divCaracteristicas{  
    width: 350px;  
    height: 200px;
}
.Precio{
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: 20px;
}
.typo, .direcc, .areaRoomBath{
    margin-top: 30px; 
    margin-left: 20px;   
}
.typeCard{
    border-radius: 30px;
    border: 1.5px solid #E52F50;
    z-index: 1;
    padding: 0 6px 1px 6px;
    margin-left: 20px; 
    
}
.divBotones{
    align-items: flex-start; 
    display: flex; 
    flex-direction: column;    
}
.botonContacto, .botonDet, .botonQuitar{
   width: 200px;
   margin-top: 50px;
   margin-left: 60px;
   width: 270px;
   
}
