
.div-recuadro{
    border: 2px solid rgb(33, 199, 228);
    background-color: rgb(245, 238, 238);
    border-radius: 30px;
    width: 85%;
    margin-top: 20px;
    margin-left: 90px;
}
.cont-formulario{
    margin-top: 40px;
    margin-right: 100px;
    
}
.select-tipoProps{
    margin-top: 5px;
    margin-left: 120px;
    margin-right: 30px;
    float: left;
}
.label-direcc{    
    margin-left: 120px;    
}
.label-venta{
    float: left;
}
.label-alquiler{
   float: left;
    margin-left: 120px;
}
.label-area{
    margin-top: 20px;
    margin-left: 120px;
}
.label-fechRenov{
    margin-left: 180px;
}
.label-cargaImagen{
    margin-left: 120px;
    margin-top: 30px;
}
.input-area{
    margin-top: 20px;
    width: 60px;
}
.input-barrio{
    margin-top: 5px;
}
.input-ciudad{
    margin-top: 5px;
    margin-left: 30px;
    margin-right: 50px;
    width: 200px;
}
.input-direcc{
    margin-top: 30px;
    margin-left: 10px;
    margin-bottom: 20px;
    width: 550px;
}
.error-direcc{
    
    margin-top: 30px;
    margin-left: 10px;
    margin-bottom: 20px;
    width: 490px;
    border-color: red;      
    border-radius: 5px;
        
     
}
.div-precios, .fechas{
    margin-top: 20px;
    margin-left: 120px;
    margin-bottom: 20px;
}
.input-sellPrice{
    margin-left: 10px;
    float: left;
    width: 170px;
}
.input-rentPrice{
    margin-left: 10px;
    width: 180px;
}
.cargaFotos{
    margin-left: 10px;
}
.fecha-construc{
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 20px;
}
.cochera{
    margin-top: 5px;
}
.errorInput {
    margin-top: 5px;
    margin-left: 10px;
    width: 200px;
    border-color: red;      
    border-radius: 5px;
    
} 
.error-caract{
    border-color: red;      
    border-radius: 5px;
} 
.span-error {
    color: red;
    margin-left: 20px;
    margin-top: 0px;
}
.span-error-num {
    color: red;
    margin-left: 350px;
}
/* boton sub-----------*/
.boton-sub {
    margin-top: 5px;
    border-radius: 30px;
    width: 400px;
    font-size: 20px;
    padding: 3px 10px;
    color:#444;
    border: 2px solid #E52F50;
    background-color:#fff;;
    margin-left: 320px;
    font-weight: bold;
    margin-top: 70px;
    margin-bottom: 10px;
}
.boton-sub:hover {
    color: rgb(33, 199, 228);
    background-color:#444;
}
