.bodyForm{
    /* position: absolute; */
    background-repeat: repeat;
    background-size: cover;
    margin: 0;
    background: #BA5370;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FF416C 0%, #ff765e 100%);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(0deg, #FF416C 0%, #ff765e 100%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.cont-formulario{
    margin-top: 40px;
    margin-right: 100px;
    height: 400px;  
}
.select-tipoProps{
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 30px;
    width: 200px;
}
.select-operation{
    margin-left: 10px;
    width: 340px;
}

.input-ciudad{
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 50px;
    width: 230px;
}
.input-barrio{
    margin-top: 5px;
    margin-left: 10px;
    width: 230px;
}
.errorInputF{
    border-color: #E52F50;
    margin-top: 5px;
    margin-left: 10px;
    width: 230px;
}

.input-direcc, .input-direcc-error{
    margin-top: 30px;
    margin-left: 10px;
    margin-bottom: 20px;
    width: 410px;
}
.input-direcc-error{
    border-color: #E52F50;
}

.input-area{
    margin-top: 20px;
    width: 60px;
}

.input-price{
    width: 135px;
    margin-left: 10px;
    margin-top: 10px;
}


.input-fechaConstruc{
    margin-top: 40px;
    width: 200px;
}
.input-fechaRenov{
    width: 200px;
    margin-left: 10px;
}
.input-cargImagen{
    margin-left: 10px;
    margin-top: 40px;
    width: 500px;
}
.lab-tipoProp, .lab-direcc, .label-fechConstruc, .cargImagen{
    margin-left: 100px;
}
.lab-tipoOp{
    margin-left: 50px;
}
.label-hab{
    margin-left: 40px;
    margin-right: 5px;
}
.label-area{
    margin-left: 50px;
}
.label-venta{
    margin-left: 45px;
    
}
.lab-precio{
    margin-left: 100px;
}
.input-room{
    width: 70px;
}
.label-fechRenov{
    margin-left: 120px;
}
/* boton sub-----------*/
.boton-sub {
    margin-top: 5px;
    margin-left: 420px;
    border-radius: 30px;
    width: 400px;
    font-size: 20px;
    padding: 3px 10px;
    color:#444;
    border: 2px solid #E52F50;
    background-color:#fff;;
    
    font-weight: bold;
    margin-top: 70px;
    margin-bottom: 10px;
}
.boton-sub:hover {
    color: rgb(33, 199, 228);
    background-color:#444;
}
