.priceOperation {
  display: flex;
  /* flex-direction: row;
  align-items: center; */
  justify-content: space-between;
}

.footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content:space-between
}

.divIcons {
  align-items: baseline;
  background-color: aqua;
  display: flex;
  flex-direction: row;
  padding-right: 10px;
}