.contFormContacto{
    width: 520px;
    height: 500px; 
}
.titulo{
    margin-top: 10px;
    margin-bottom: 10px;
}
.email{
    width: 300px;
}
.nombre,.tel, .descrip{
    margin-top: 20px;
    width: 300px;
}
.descrip{
    width: 300px;
    height: 130px;
    color: #666;
    font-size: 18px;
    padding: 9px;
    border-radius: 10px;
    border: 2px solid #999;
    font-weight: 500;
   
}
.descrip:hover {
    color: #444;
    border: 2px solid #ff765e;
}
.contactar{
    margin-top: 5px;
    width: 180px;
    margin-left: 20px;
}
.whatsap{
    width: 50px;
    
}
