
.create3{
    background-color: #fff;
    border-radius: 20px;
    margin: 14px auto;
    width: 75%;
    margin: 30px auto 15px auto;
    padding: 20px 60px 30px 60px;
    /* gap:2px; */
    /* align-items: flex-start; */
    /* display: flex; */
    /* flex-direction: column;  */
    /* padding: 1px 1px 0 1px; */
    /* border-radius: 1rem; */
    border: 1px solid #efefef;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.159);
    /* width: max-content; */
}