.contenedor{
   /*  background-color:aqua ;  */   
    width: 95%;
}
.contPlan{
    width: 650px;
    height: 75px;
    background: #333;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #5f798e , #1f373d);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #5f798e , #1f373d);
}
.plan{
    margin-top: 10px;    
    margin-left: 20px;
    margin-right: 20px;
    width: 350px;
    color:#fff;
    background-color: #E52F50;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    float: left;
    border-radius: 10px;
}
.contratar{
    margin-top: 5px;
}