.container {
  border-radius: 10px;
  /* position: fixed; */
  /* top: 98px; */
  /* left: 98px; */
  width: 240px;

  background-color: #f1f1f1;
  height: 250px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* padding-top: 1px; */
  padding-left: 10px;
  margin-right: 20px;
  margin-bottom: 10px;
}
