.homeWrapper {
  position: absolute;
  /* margin: 0; */

  background: #ba5370; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ff416c 0%,
    #ff765e 100%
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    0deg,
    #ff416c 0%,
    #ff765e 100%
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.conteiner {
  text-decoration: none;
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;

  /* min-width: 500px; */
  height: auto;
  margin: 0px auto;
  border: 1px solid rgba(225, 225, 226, 0.8);
  box-shadow: 0px 0px 10px #ccc;

  /* margin-top: 40px;
  margin-bottom: 40px; */
  min-height: 600px;

  display: flex;
  background-color: aqua;
  flex-direction: column;

  /* align-content: space-between; */
  /* margin-top: 200px; */
  /* margin-left: 100px; */
}
.infoconteiner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #ff416c;

  padding-top: 50px;
  padding-left: 50px;
}
