.input {
    padding: 8px;
    border-radius: 10px;
}

.textarea {
    padding: 14px;
    width: 100%;
    height: 140px;
    border-radius: 10px;
    border-color: red;
}
.puntuacion{
    width: 80px;
    border-radius: 10px;
    border-color: red;
}