.contened{ 
    background-color: #fff;
    
    /* flex-direction: column; */ 
    border-radius: 1rem;
    border: 1px solid #efefef;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
    width: 40%;
}
.datos{
    margin-top: 5px;
}