.cont-gral{
    display: flex; /*con display, justify-content, aling-items -> dejo centrados los filtros*/
    justify-content: center;
    align-items: center; 
    background-color: rgba(140, 219, 181, 0.498);
    height: 855px;
}
.cont-pokeCard{   
    border: 2px solid rgb(33, 199, 228);
    background-color: rgb(245, 238, 238); 
    width: 520px;
    height: 360px;        
    flex-direction:column;    
    justify-content: center;
    border-radius: 10px;
    gap: 1px; 
      
}

.user{
    font-size: 17px;
    margin-top: 20px;
    margin-left: 30px;
    border-radius: 4px;
    text-decoration-color:rgb(19, 18, 18);
}
.foto{     
    width: 65%;
    height: 70%;    
    border-radius: 4px; 
    margin-top: 10px; 
    margin-left: 30px;  
}
