.home{
    background: #917a80;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #afa2a5 0%, #4b4746 100%); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(0deg, #afa2a5 0%, #4b4746 100%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding-left: 100px;
}
.contCard{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: aquamarine;
}