.contactForm {
    margin-top: 200px;
    
}
.contenedorGral{
    width: 60%;
}
.titulos{
    margin-left: 20px;
    
}
.selectMotivos{
    margin-left: 20px;
}
.btnSubmit{
    margin-top: 30px;
    margin-left: 25px;
}